{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'Profile/css/star.css' %}">
  <link rel="stylesheet" href="{% static 'Profile/css/log.css' %}">
  <title>LogReg</title>
</head>
<body>
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="eye-container">
    <div class="eye">
      <div class="iris">
        <div class="pupil"></div>
      </div>
    </div>
  </div>

  {% if form.password.errors %}
    <div class="field-error error-field">
      {{ form.password.errors.0 }}
    </div>
  {% endif %}

  <form method="POST" class="main-log-container">
      {% csrf_token %}
      <div class="logreg-block">
        <h1 class="logreg-question">Знакомы?</h1>
        <input type="text" class="log-line" name="username" placeholder="логин" id="id_username"  required>

        <input type="password" id="password-input" class="pass-line" placeholder="Введите пароль" name="password"  required>
        <a href="#" name="password" class="password-control" onclick="return show_hide_password(this);"></a>

        <div class="logreg-btn">
            <button class="log-btn" type="submit">ПОДТВЕРДИТЬ</button>
        </div>

        <a href="{% url 'send_recovery_email' %}" class="forgot-password-link">Забыли пароль?</a>
          <a href="{% url 'register' %}" class="reg-link">Нет аккаунта? Зарегистрироваться</a>
      </div>
  </form>
  <script src="{% static 'Profile/js/star.js' %}"></script>
  <script src="{% static 'Profile/js/log.js' %}"></script>
</body>
</html>
