* {
  margin: 0;
}

body {
  background-color: black;
}

/*ПРИВЕТСТВЕННАЯ ЧАСТЬ*/

.hello-block-container {
  width: 100%;
  height: 100vh;
  color: aliceblue;
  background-color: rgb(14, 11, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  font-family: Jura;
  font-size: 70px;
}

/*ШАПКА*/
.main-header-container {
  position: relative;
  width: 100%;
  height: 8vh;

  backdrop-filter: blur(2px);
  background: rgb(18, 20, 31);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.content-container {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Chelsea Market;
  font-size: 30px;
  transition: 0.5s;
}

.header-text {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 35px;
  transition: 0.3s;
}

.news:hover {
  color: rgb(123, 102, 40);
  font-size: 37px;
}

.games:hover {
  color: rgb(40, 59, 123);
  font-size: 37px;
}

.more:hover {
  color: rgb(55, 40, 123);
  font-size: 37px;
}

.brotherhood:hover {
  color: rgb(123, 40, 40);
  font-size: 37px;
}

.logo:hover {
  color: rgb(123, 40, 40);
  cursor: pointer;
}

/*ВЫБОР ПЛАТФОРМЫ*/

.platform-variant-main-container {
  width: 100%;
  height: 1000px;
  background: rgb(12, 7, 27);
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.platform-qustion {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  width: 100%;
  height: 10%;
}

.decorGB-blocks-container {
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.xbox-green-block {
  background-color: rgb(155, 200, 72);
  height: 100%;
  width: 48%;
}

.ps-blue-block {
  background-color: rgb(102, 92, 190);
  width: 48%;
  height: 100%;
}
/*икис икис или пс оне*/
.platform-variants-container {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: space-between;

}

.XBOX {
  position: relative;
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: whitesmoke;
  font-size: 48px;
  transition: 0.5s;
}

.XBOX:hover {
  color: rgb(155, 200, 72);
  .xbox-effect {
    opacity: 1;
  }
  .XBigAnim {
    animation-name: deployment-BigBlock;
    animation-duration: 1s;
  }
  .XSmallAnim {
    animation-name: deployment-SmallBlock;
    animation-duration: 1s;
  }
}

.PS {
  width: 50%;
  height: 100%;

  color: whitesmoke;
  font-size: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;

  transition: 0.3s;
}

.PS:hover {
  color: rgb(102, 92, 190);

  .PS-effect {
    opacity: 1;
  }
  .PSBIgAnim {
    animation-name: deployment-BigBlock;
    animation-duration: 1s;
  }

  .PSSmallAnim {
    animation-name: deployment-SmallBlock;
    animation-duration: 1s;
  }
}

/*это будет неприятно X﹏X*/

.PS-effect {
  position: absolute;
  display: flex;
  opacity: 0;
  z-index: 3;
  border-radius: 20px;
  width: 17.5vw;
  height: 19.5vh;
  background-color: aliceblue;
}

.xbox-effect {
  position: absolute;
  display: flex;
  opacity: 0;
  z-index: 3;
  border-radius: 20px;
  width: 17.5vw;
  height: 19.5vh;
  background-color: rgb(174, 247, 168);
}

.block-2 {
  left: 0px;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-2 {
  left: 49.5vw;
  width: 15.35vw;
  height: 19.5vh;
}

.block-3 {
  right: 0px;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-3 {
  right: 0px;
  width: 15.35vw;
  height: 19.5vh;
}

.block-4 {
  margin-bottom:47vh;
}

.PSblock-4 {
  margin-bottom: 47vh;
}

.block-5 {
  left: 0px;
  margin-bottom: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-5 {
  left: 49.5vw;
  margin-bottom: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.block-6 {
  right: 0px;
  margin-bottom: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-6 {
  right: 0px;
  margin-bottom: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.block-7 {
  margin-top: 47vh;
}

.PSblock-7 {
  margin-top: 47vh;
}

.block-8 {
  left: 0px;
  margin-top: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-8 {
  left: 49.5vw;
  margin-top: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.block-9 {
  right: 0px;
  margin-top: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

.PSblock-9 {
  right: 0px;
  margin-top: 47vh;
  width: 15.35vw;
  height: 19.5vh;
}

/*АНИМАЦИЯ*/

@keyframes deployment-BigBlock {
  from {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  to {
    width: 17.5vw;
    height: 19.5vh;
    opacity: 1;
  }
}

@keyframes deployment-SmallBlock {
  from {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  to {
    width: 15.35vw;
    height: 19.5vh;
    opacity: 1;
  }
}

/*ВЫБОР ЗА ТОБОЙ*/

.hits-among-hits-container {
  width: 100%;
  height: 100vh;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hits-questinon {
  width: 100%;
  height: 10%;
  

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;

  color: aliceblue;
}

.hits-fan {
  display: flex;
  height: 45%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.hits-fan:hover {
  .hits-block-top-2 {
    width: 12vw;
    height: 38vh;
  }
  .hits-block-top-2:hover {
    width: 14vw;
    height: 40vh;
  }
}

.block-project {
  width: 14vw;
  height: 40vh;
  background-color: aliceblue;
  border-radius: 20px;
  transition: 0.3s;
}

.hits-block-top-1 {
  background-color: rgb(98, 98, 98);
  width: 12vw;
  height: 38vh;
}

.hits-block-top-1:hover {
  width: 14vw;
  height: 40vh;
}

.hits-block-top-3 {
  background-color: rgb(80, 89, 102);
  width: 12vw;
  height: 38vh;
}

.hits-block-top-3:hover {
  width: 14vw;
  height: 40vh;
}

.hits-variant {
  height: 45%;
  width: 100%;
  

  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
}

.block-project:hover {
  margin-bottom: 10px;
}

/*ТЕСТ*/
.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  max-width: 400px;
}

@keyframes noise-anim {
  0% {
    clip: rect(10px, 10px, 50px, 0);
  }
  10% {
    clip: rect(30px, 10px, 80px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 40px, 0);
  }
  30% {
    clip: rect(20px, 9999px, 70px, 0);
  }
  40% {
    clip: rect(25px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(30px, 9999px, 80px, 0);
  }
  70% {
    clip: rect(15px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(20px, 9999px, 70px, 0);
  }
  90% {
    clip: rect(25px, 9999px, 60px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 50px, 0);
  }
}

.glitch:after,
.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
}

.glitch:after {
  left: 2px;
  text-shadow: -1px 0 red;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  left: -2px;
  text-shadow: 1px 0 blue;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
}