<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Редактирование профиля пользователя {{ user.username }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="{% url 'user_profile' user.id %}">Вернуться к профилю</a>
    <br>
    <a href="{% url 'logout' %}">Выйти</a>  <!-- Ссылка на выход -->
</body>
</html>